[Unit]
Description=Physical ID Daemon
After=network.target

[Service]
ExecStart=/usr/bin/physicalid-conf
Restart=always
User=root


[Install]
WantedBy=multi-user.target
